* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 100%; */
  /* overflow-x: hidden; */
  font-family: Montserrat-Medium, Verdana, Geneva, Tahoma, sans-serif;
}

header {
  top: 0;
  /* background: #fa0; */
  z-index: 1;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

h1 {
  font-size: 1.2em;
}

i {
  color: #ffc744;
  z-index: 200000;
}

.main-photo {
  position: absolute;
  text-align: center;
  /* max-width: 100%; */
  /* height: 55%; */
  transform: translateY(-15%);
  z-index: 1000;
}

.background img {
  width: 100%;
  background-size: cover;
  height: 92vh;
}

span {
  color: #ffc744;
}

.background {
  width: 100%;
}

/* MAIN CONTENT  */

.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  position: absolute;
  color: #fff;
  max-width: 700px;
  margin-top: 8vh;
}

.main-content h2 {
  margin-bottom: 6vh;
}

.website {
  margin-bottom: 4vh;
}

.website ul {
  margin-top: 3vh;
  margin-left: 2vw;
}

.website ul li {
  margin-top: 2vh;
  font-size: 1em;
}

.greeting {
  position: absolute;
  transform: translateY(220%);
  color: #fff;
  text-align: center;
  /* align-items: center;
  display: block;
  justify-content: center; */
}

.find-out-more {
  margin-top: 12vh;
}

@media only screen and (max-width: 768px) {
  .main-photo img {
    /* display: none; */
    width: 50%;
    height: 50%;
  }
}
